<section class="section section-about section-content" id="sectionAboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-about-content">
          <article>
            <header>
              <h4 class="section-subheader">We are Three Com Network Technology</h4>
              <h2 class="section-header">About Us</h2>
            </header>
            <p>
              ThreeCom is one of the premier organization of Nepal with a proven track record for care, repair and
              maintenance of Mobile and Laptop. ThreeCom is expected to achieve a degree of success that will be
              unparalleled in the country’s electronic business with the support of more than two dozen dedicated and
              exceptionally skilled technical teams. ThreeCom has a mission to enrich the quality of life of people
              through responsible application of knowledge, skills and technology. ThreeCom will be committed to the
              pursuit of excellence through world-class products, innovative processes and empowered employees to
              provide the highest level of satisfaction to its customers. We are proud to mention that ThreeCom is an
              innovator and pathfinder in some of the service sectors.
            </p>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
