<section class="section section-whoweare section-content" id="sectionWhoWeAre">
<div class="container">
    <div class="row">
      <div class="col">
        <div class="img-section">
        <img src="E:/Project/School_children1.jpg" alt="">
        </div>
      </div>
      <div class="col">
        <div class="content">
          <h2><span>Who We Are</span></h2>
          <h4><span>School is Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis 
            rerum aperiam blanditiis soluta facere nostrum distinctio, illo voluptatibus dolor numquam.</span></h4>
            <p><span>School heart is Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus perferendis commodi eius eaque, obcaecati totam quaerat veritatis rerum error nobis esse quia magnam temporibus alias tempore? Maxime dolorem expedita doloribus?</span></p>
          </div>
      </div>
    </div>
</div>
</section>
