nav {
  background-color: rgb(3, 15, 65);
  transition: all 400ms ease !important;
  position: sticky;
  top: 0;
  z-index: 10;
  box-shadow: 0 1px 6px 0 rgba(68, 68, 68, 0.1);
  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      display: flex;
      align-items: center;
      margin: 10px 0;
      img {
        max-width: 120px;
      }
    }
    .navbar-right {
      display: flex;
      align-items: center;
    }
  }
  ul.primary-menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    @include tablet-and-below {
      flex-direction: column;
      position: fixed;
      top: 100px;
      left: 0;
      right: 0;
      background-color: rgba(242, 242, 242, 1) !important;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transition-property: opacity, visibility;
      transition-duration: 0.4s;

      &.open {
        visibility: visible;
        opacity: 1;
        pointer-events: auto;
      }
      .menu-item {
        width: 100%;
        border-bottom: 1px solid #ededed;
        padding: 0 !important;
        &:hover {
          cursor: pointer;
          background-color: rgba(255, 255, 255, 1) !important;
        }
        &.current-menu-item {
          > a {
            color: #333333 !important;
          }
        }
        > a {
          color: #333333;
          font-weight: normal;
          padding: 15px;
          width: 100%;
          display: block;
        }
        > a.active {
          color: #333333 !important;
        }
      }
    }
    .menu-item {
      display: flex;
      align-items: center;
      padding: 11px 20px;
      > a {
        color: gray;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        color: #808080;
        text-transform: uppercase;
        letter-spacing: 3px;
        text-decoration: none;
      }
      a.active {
        color: white;
      }
    }
  }
  .search {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: transparent;
    font-style: normal;
    line-height: 21px;
    margin: 0;
    padding: 0;
    padding-left: 35px;
    &:active,
    &:focus {
      border: none;
      outline: none;
    }
    @include tablet-and-below {
      display: none;
    }
    svg {
      path {
        fill: #808080;
      }
    }
  }
  .nav-toggler {
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: transparent;
    margin: 0;
    padding: 0;
    &:active,
    &:focus {
      border: none;
      outline: none;
    }
  }

  // Other than homepage
  // For Blog
  &.for-blog {
    transform: translateY(0);
    background-color: transparent;
    .primary-menu {
      li > a {
        font-weight: 700;
        font-size: 12px;
        color: #363636;
        letter-spacing: 2px;
        transition: all 0.3s;
      }
    }
  }
  &.for-blog.scroll {
    background-color: $primary-color;
    .primary-menu {
      li > a {
        color: #8e8e91;
        &:hover {
          color: white;
        }
      }
    }
  }
}
