<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="preload">
    <div id="loadingDiv">
      <div class="loading-anim"></div>
    </div>
    <%= require('html-loader!./partial/nav-blog.html') %>
    <main id="mainDiv">
      <!-- Section Blog Header -->
      <%= require('html-loader!./partial/blog/section-header.html') %>

      <!-- Section Blog Footer-->
      <%= require('html-loader!./partial/footer-blog.html') %>
    </main>
  </body>
</html>
