<nav id="mainNav" class="for-blog">
  <div class="container">
    <div class="navbar">
      <div class="brand">
        <img src="../../assets/threecom.png" alt="" />
      </div>
      <div class="navbar-right">
        <ul class="primary-menu">
          <li class="menu-item">
            <a href="index.html">Home</a>
          </li>
          <li class="menu-item">
            <a href="index.html#sectionAboutus">About</a>
          </li>
          <li class="menu-item">
            <a href="index.html#sectionWhyus">Services</a>
          </li>
          <li class="menu-item">
            <a href="index.html#sectioPortfolio">Work</a>
          </li>
          <li class="menu-item">
            <a href="index.html#sectionFeedback">Clients</a>
          </li>
          <li class="menu-item">
            <a href="ndex.html#sectionContact">Contacts</a>
          </li>
        </ul>
        <button class="search" id="searchButton">
          <svg
            enable-background="new 0 0 515.558 515.558"
            viewBox="0 0 515.558 515.558"
            width="12"
            height="12"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="m378.344 332.78c25.37-34.645 40.545-77.2 40.545-123.333 0-115.484-93.961-209.445-209.445-209.445s-209.444 93.961-209.444 209.445 93.961 209.445 209.445 209.445c46.133 0 88.692-15.177 123.337-40.547l137.212 137.212 45.564-45.564c0-.001-137.214-137.213-137.214-137.213zm-168.899 21.667c-79.958 0-145-65.042-145-145s65.042-145 145-145 145 65.042 145 145-65.043 145-145 145z"
            />
          </svg>
        </button>
        <button class="nav-toggler d-md-none" id="navToggler">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            height="22px"
            width="22px"
            viewBox="0 0 341.333 341.333"
            style="enable-background: new 0 0 341.333 341.333"
            xml:space="preserve"
          >
            <rect fill="white" y="277.333" width="341.333" height="42.667" />
            <rect fill="white" y="149.333" width="341.333" height="42.667" />
            <rect fill="white" y="21.333" width="341.333" height="42.667" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
