<nav id="mainNav">
  <div class="container">
    <div class="navbar">
      <div class="brand">
        <img src="../../assets/threecom.png" alt="" />
      </div>
      <div class="navbar-right">
        <ul class="primary-menu menu-active-link">
          <li class="menu-item">
            <a href="#sectionHomeBanner">Home</a>
          </li>
          <li class="menu-item">
            <a href="#sectionAboutus">About</a>
          </li>
          <li class="menu-item">
            <a href="#sectionWhyus">Services</a>
          </li>
          <li class="menu-item">
            <a href="#sectioPortfolio">Work</a>
          </li>
          <li class="menu-item">
            <a href="#sectionFeedback">Clients</a>
          </li>
          <li class="menu-item">
            <a href="#sectionContact">Contacts</a>
          </li>
        </ul>
        <button class="nav-toggler d-md-none" id="navToggler">
          <svg
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            x="0px"
            y="0px"
            height="22px"
            width="22px"
            viewBox="0 0 341.333 341.333"
            style="enable-background: new 0 0 341.333 341.333"
            xml:space="preserve"
          >
            <rect fill="white" y="277.333" width="341.333" height="42.667" />
            <rect fill="white" y="149.333" width="341.333" height="42.667" />
            <rect fill="white" y="21.333" width="341.333" height="42.667" />
          </svg>
        </button>
      </div>
    </div>
  </div>
</nav>
