/* 
Main scss
*/

//==============================================================================
// Configuration
//==============================================================================

@import "base/_variables.scss";
@import "base/breakpoint_mixins";

//==============================================================================
// Base / Reset / Normalize
//==============================================================================

@import "base/base_normalize_reset";

//==============================================================================
// Components
//==============================================================================

@import "components/vendor/scaffolding";
@import "components/vendor/helpers";
@import "components/vendor/buttons";
@import "components/vendor/forms";
@import "components/vendor/bootstrap_grid_only";
//@import "components/vendor/tables";
@import "components/hamburger";
@import "components/slider";
@import "components/parallax";
@import "components/animations";
@import "components/lightbox";

//==============================================================================
// Layout
//==============================================================================
@import "layout/pre-navigation";
@import "layout/navigation";
@import "layout/footer";

//==============================================================================
// Pages
//==============================================================================

@import "pages/index";
@import "pages/blog";
