<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
    />
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body class="preload">
    <%= require('html-loader!./views/partial/pre-nav.html') %> <%=
    require('html-loader!./views/partial/nav.html') %>
    <main id="mainDiv">
      <!-- Section About us -->
      <%= require('html-loader!./views/partial/index/section-aboutus.html') %>
      <!-- Section Who We Are-->
      <%= require('html-loader!./views/partial/index/section-whoweare.html') %>
      <!-- Section Schedule -->
      <%= require('html-loader!./views/partial/index/section-schedule.html') %>
      <!-- Section Footer -->
      <%= require('html-loader!./views/partial/footer.html') %>
    </main>
  </body>
</html>
